<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>inicio Django</title>
</head>
<body>
    <h1 class="ml-[30%] text-3xl mt-5 font-serif">Primer Página en Django</h1>
    <p class="ml-[5%] mt-5 font-sans">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Aut sunt atque officiis corporis voluptates architecto quae facilis <br> debitis nihil tenetur distinctio, dolor veniam cupiditate, ea tempora aliquid autem nemo nulla.</p>

</body>
</html>